/* Definición de animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px) scale(0.9); /* Aumentar la distancia y reducir la escala */
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1); /* Escala normal y posición final */
  }
}

/* Clase general para animación de entrada */
.animate-fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

/* Estilo para la sección de servicios */
.servicios {
  background-color: #f7f7f7; /* Fondo gris claro */
  padding: 3rem 1rem; /* Espaciado superior e inferior */
}

.services-section {
  padding: 2em; /* Espaciado general */
}

/* Contenedor de servicios */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Estilo para el título de la sección */
h2 {
  font-size: 2rem; /* Tamaño de fuente del título */
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem; /* Espaciado inferior */
}

/* Estilo para las tarjetas de servicio */
.service-card {
  opacity: 0; /* Inicialmente invisible */
  animation: fadeIn 1s ease-in-out forwards;
  padding: 1rem; /* Espaciado interno */
  margin-bottom: 2em; /* Espaciado inferior entre tarjetas */
  transform: translateY(20px); /* Inicialmente desplazado hacia abajo */
  transition: transform 0.3s ease; /* Transición suave al cambiar el estado */
  background-color: #fff; /* Fondo blanco */
  border-radius: 0.5rem; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Retrasos específicos para cada tarjeta */
.service-card:nth-child(1) {
  animation-delay: 0.2s;
}

.service-card:nth-child(2) {
  animation-delay: 0.4s;
}

.service-card:nth-child(3) {
  animation-delay: 0.6s;
}

.service-card:nth-child(4) {
  animation-delay: 0.8s;
}

.service-card:nth-child(5) {
  animation-delay: 1s;
}

/* Estilo para el icono de FontAwesome */
.service-card .fa-icon {
  font-size: 2.5rem; /* Tamaño del icono */
  color: #144478; /* Color del icono */
  margin-bottom: 1rem; /* Espaciado inferior */
}
.titulo{
  font-size: 35px;
  margin-bottom: 80px;
  text-align: center;
  font-weight: 600; 
  color: #144478; /* Color principal de Proditel */
}
/* Estilo para el título de la tarjeta de servicio */
.service-card h3 {
  font-size: 1.25rem; /* Tamaño de fuente del título */
  font-weight: 600; /* Peso de la fuente */
  margin-bottom: 0.5rem; /* Espaciado inferior */
}

/* Estilo para la descripción de la tarjeta de servicio */
.service-card p {
  margin-bottom: 1rem; /* Espaciado inferior */
  font-size: 13px;
  text-align: justify;
}

/* Estilo para el enlace de más información */
.service-card a {
  margin-top: auto;
  background-color: #ff5000; /* Fondo naranja */
  color: #fff; /* Texto blanco */
  padding: 3px 10px; /* Espaciado interno */
  border-radius: 1em; /* Bordes completamente redondeados */
  text-decoration: none; /* Sin subrayado */
  transition: background-color 0.3s ease; /* Transición de color de fondo */
  font-size: 14px;
}

.service-card a:hover {
  background-color: #e64a19; /* Color de fondo al pasar el cursor */
}
